html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: Roboto, "Roboto Condessed", sans-serif;
}

*, *::before, ::after {
  box-sizing: inherit;
}

/*------------------ body ------------------*/

body {
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 3rem;
  color: #000;
  line-height: 1.2;
  margin: 0;
  font-family: "Roboto Condensed";
}

p {
  font-size: 1.5rem;
  margin: 0;
  padding: .5em 0 .75em;
  font-family: Roboto;
}
